<%- include('./partials/header.ejs'); %>

<main>
  <div class="banner-container">
    <h1>Shop</h1>
  </div>
  <div class="merch-container">
    <!-- This will loop through the merchList array and will generate a card for each object found inside the array -->
    <% merchList.forEach(merch =>{ %>
    <div class="merch-card">
      <div class="img-container">
        <img class="merch-img" src="<%=merch.img%>" />
      </div>

      <div class="item-description">
        <div>
          <h4 class="merch-heading"><%= merch.title%></h4>
          <h4 class="merch-heading">$ <%= merch.price%></h4>
        </div>
        <p class="merch-p"><%= merch.desc%></p>
        <div class="cta">
          <a href="/checkout">Place Order</a>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</main>

<%- include('./partials/footer.ejs'); -%>
<!-- this include markers indicates that a header.ejs and footer.ejs partial is being imported 
  they may not be visible here but they are valid and can be seen when rendered on screen .
  the package responsible for rendering ejs files is ejs installed via npm
-->
